[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
requests = "*"
"beautifulsoup4" = "*"
mysql-connector = "*"
mysql = "*"

[dev-packages]

[requires]
python_version = "3.6.7"
